body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* 

 ========== Dex Nav ==========

*/

.DexNav {
    width: 120px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 13px;
    font-variant: small-caps;
    background-color: #FFB6C1;
    position: fixed;
}

.DexNav-logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DexNav-gen {
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #CCCCFF;
    --f: 10px;
    --r: 30px;
    --t: 10px;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 0 var(--f) calc(20px + var(--r));
    clip-path: 
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
    background-color: #CCCCFF;
    -webkit-clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
}

.DexNav-gen:hover {
    animation: fold-unfold 2s infinite;
}

.logo_pokemon {
    width: 100px;
    height: 60px;
}

.DexNav-list {
    width: 100px;
    height: 400px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.DexNav-list-pokemon,
.DexNav-list-moves,
.DexNav-list-abilities,
.DexNav-list-items,
.DexNav-list-type {
    width: 100px;
    height: 80px;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.DexNav-list-pokemon:hover img{
    animation: pokemonBounce 0.5s ease infinite;
}

.DexNav-list-moves:hover img{
    animation: moveScale 0.5s ease infinite;
}

.DexNav-list-abilities:hover img{
    animation: abilitiesFade 0.5s ease infinite;
}

.DexNav-list-items:hover img{
    animation: itemSpin 0.5s ease infinite;
}

.DexNav-list-type:hover img{
    animation: typeRotate 0.5s ease infinite;
}

.DexNavButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DexNavButton-image {
    width: 40px;
    height: 40px;
}

.DexNavButton-content {
    color: #fff;
    text-align: center;
    line-height: 13px;
}


/* 

====== DexNav Light Dark Toggle ======

*/
.light-dark-toggle {
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.light-indicator,
.dark-indicator {
    display: none;
    position: absolute;
    transition: opacity 0.5s ease transform 0.5s ease;
}

.light-indicator.active-mode,
.dark-indicator.active-mode {
    display: inline-block;
    opacity: 1;
}

.light-indicator:not(.active-mode),
.dark-indicator:not(.active-mode) {
    opacity: 0;
}

.light-indicator.active-mode:hover,
.dark-indicator.active-mode:hover {
    transform: rotate(360deg);
}

.premier-sprite, 
.luxury-sprite {
    width: 80px;
    transition: transform 0.5s ease;
}

/* 

 ========== Dex Content ==========

*/

.DexContent {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DexContent {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.DexContent h2,
.DexContent h3,
.DexContent p {
    margin-bottom: 10px;
}

.DexTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.DexTable th,
.DexTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.featured-pokemon-table th {
    background-color: #f2f2f2;
}



/* 

 ========== Dark mode styles ==========

*/

.light-mode {
    color: #000;
}

.dark-mode {
    color: #fff; 
}

body.dark-mode {
    background-color: #36454F;
}

.light-mode .featured-pokemon-table th,
.light-mode .featured-pokemon-table td {
    color: #000;
}

.dark-mode .featured-pokemon-table th {
    background-color: lightskyblue;
    color: #fff;
}
.dark-mode .featured-pokemon-table td {
    color: #fff;
}

/* 

 ========== Key Frames ==========

*/

@keyframes pokemonBounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-3px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

@keyframes moveScale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

@keyframes abilitiesFade {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

@keyframes itemSpin {
    0%, 100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
    }
    100% {
      transform: scaleX(1);
    }
  }

@keyframes typeRotate {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
  }

@keyframes fold-unfold {
    0% {
      transform: translateY(0) rotate(0deg);
   }
    50% {
      transform: translateY(-10px) rotate(-10deg);
   }
    100% {
      transform: translateY(0) rotate(0deg);
   }
}