body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* 

 ========== Dex Nav ==========

*/

.DexNav {
    width: 120px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 13px;
    font-variant: small-caps;
    background-color: #FFB6C1;
    position: fixed;
}

.DexNav-logo {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DexNav-gen {
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #CCCCFF;
    --f: 10px;
    --r: 30px;
    --t: 10px;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 0 var(--f) calc(20px + var(--r));
    clip-path: 
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
    background-color: #CCCCFF;
    -webkit-clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    clip-path: polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
}

.DexNav-gen:hover {
    animation: fold-unfold 2s infinite;
}

.logo_pokemon {
    width: 100px;
    height: 60px;
}

.DexNav-list {
    width: 100px;
    height: 400px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.DexNav-list-pokemon,
.DexNav-list-moves,
.DexNav-list-abilities,
.DexNav-list-items,
.DexNav-list-type {
    width: 100px;
    height: 80px;
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.DexNav-list-pokemon:hover img{
    animation: pokemonBounce 0.5s ease infinite;
}

.DexNav-list-moves:hover img{
    animation: moveScale 0.5s ease infinite;
}

.DexNav-list-abilities:hover img{
    animation: abilitiesFade 0.5s ease infinite;
}

.DexNav-list-items:hover img{
    animation: itemSpin 0.5s ease infinite;
}

.DexNav-list-type:hover img{
    animation: typeRotate 0.5s ease infinite;
}

.DexNavButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DexNavButton-image {
    width: 40px;
    height: 40px;
}

.DexNavButton-content {
    color: #fff;
    text-align: center;
    line-height: 13px;
}


/* 

====== DexNav Light Dark Toggle ======

*/
.light-dark-toggle {
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.light-indicator,
.dark-indicator {
    display: none;
    position: absolute;
    transition: opacity 0.5s ease transform 0.5s ease;
}

.light-indicator.active-mode,
.dark-indicator.active-mode {
    display: inline-block;
    opacity: 1;
}

.light-indicator:not(.active-mode),
.dark-indicator:not(.active-mode) {
    opacity: 0;
}

.light-indicator.active-mode:hover,
.dark-indicator.active-mode:hover {
    transform: rotate(360deg);
}

.premier-sprite, 
.luxury-sprite {
    width: 80px;
    transition: transform 0.5s ease;
}

/* 

 ========== Dex Content ==========

*/

.DexContent {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DexContent {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.DexContent h2,
.DexContent h3,
.DexContent p {
    margin-bottom: 10px;
}

.DexTable {
    width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Experimental Transition */
.DexTable-container {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: #AFDBF6;  
    border-radius: 20px;
    padding: 10px;
}

.DexTable-container-img {
    height: 150px;
    width: 150px;
    background: rgba(255,255,255,0.60);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-size 0.3s ease;
}

.DexTable-container-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.pokemon_image {
    height: 100px;
    width: 100px;
    max-width: 100%;
}

.DexTable-container-name {
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DexTable-container-type {
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DexTable-container-abilities {
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pokemon_ability {
    display: flex;
    flex-direction: column;
}

.pokemon_hidden_ability {
    display: flex;
    flex-direction: column;
}



/* Define type colors and borders */
.type-normal {
    background: linear-gradient(#a8a878, #8a8a59);
    border-color: 1px solid #79794e;
}

.type-fire {
    background: linear-gradient(#f08030, #dd6610);
    border-color: 1px solid #b4530d;
}

.type-water {
    background: linear-gradient(#6890f0, #386ceb);
    border-color: 1px solid #1753e3;
}

.type-grass {
    background: linear-gradient(#78c850, #5ca935);
    border-color: 1px solid #4a892b;
}

.type-electric {
    background: linear-gradient(#f8d030, #f0c108);
    border-color: 1px solid #c19b07;
}

.type-ice {
    background: linear-gradient(#98d8d8, #69c6c6);
    border-color: 1px solid #45b6b6;
}

.type-fighting {
    background: linear-gradient(#c03028, #9d2721);
    border-color: 1px solid #82211b;
}

.type-poison {
    background: linear-gradient(#a040a0, #803380);
    border-color: 1px solid #662966;
}

.type-ground {
    background: linear-gradient(#e0c068, #d4a82f);
    border-color: 1px solid #aa8623;
}

.type-flying {
    background: linear-gradient(#a890f0, #9180c4);
    border-color: 1px solid #7762b6;
}

.type-psychic {
    background: linear-gradient(#f85888, #f61c5d);
    border-color: 1px solid #d60945;
}

.type-bug {
    background: linear-gradient(#a8b820, #8d9a1b);
    border-color: 1px solid #616b13;
}

.type-rock {
    background: linear-gradient(#b8a038, #93802d);
    border-color: 1px solid #746523;
}

.type-ghost {
    background: linear-gradient(#705898, #554374);
    border-color: 1px solid #413359;
}

.type-dragon {
    background: linear-gradient(#7038f8, #4c08ef);
    border-color: 1px solid #3d07c0;
}

.type-dark {
    background: linear-gradient(#705848, #513f34);
    border-color: 1px solid #362a23;
}

.type-steel {
    background: linear-gradient(#b8b8d0, #9797ba);
    border-color: 1px solid #7a7aa7;
}

.type-fairy {
    background: linear-gradient(#F98CFF, #F540FF);
    border-color: 1px solid #c1079b;
}

.type_text {
    text-shadow: 1px 1px 1px #333;
    color: white;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
}

.border-radius {
    box-sizing: border-box;
    border-radius: 5px;
    display:inline-block;
    height: 20px;
    width: 50px;
}

.border-right-radius {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.border-left-radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* 

 ========== Dark mode styles ==========

*/

.light-mode {
    color: #000;
}

.dark-mode {
    color: #fff; 
}

body.dark-mode {
    background-color: #36454F;
}

.light-mode .featured-pokemon-table th,
.light-mode .featured-pokemon-table td {
    color: #000;
}

.dark-mode .featured-pokemon-table th {
    background-color: lightskyblue;
    color: #fff;
}
.dark-mode .featured-pokemon-table td {
    color: #fff;
}

/* 

 ========== Key Frames ==========

*/

@keyframes pokemonBounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-3px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

@keyframes moveScale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

@keyframes abilitiesFade {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

@keyframes itemSpin {
    0%, 100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(-1);
    }
    100% {
      transform: scaleX(1);
    }
  }

@keyframes typeRotate {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
  }

@keyframes fold-unfold {
    0% {
      transform: translateY(0) rotate(0deg);
   }
    50% {
      transform: translateY(-10px) rotate(-10deg);
   }
    100% {
      transform: translateY(0) rotate(0deg);
   }
}