@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@font-face {
  font-family: "BurgerJoint";
  src: url("/src/assets/fonts/BurgerJoint.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;        
  background-color: #020617;
}

/* Fonts */
body {
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
