/* 

 ========== Dex Content ==========

*/

.DexContent {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DexContent {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.DexContent h2,
.DexContent h3,
.DexContent p {
    margin-bottom: 10px;
}

.DexTable {
    width: 1200px;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Experimental Transition */
.DexTable-container {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: #AFDBF6;  
    border-radius: 20px;
    padding: 10px;
}

.DexTable-container-img {
    height: 150px;
    width: 150px;
    background: rgba(255,255,255,0.60);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-size 0.3s ease;
}

.DexTable-container-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.pokemon_image {
    height: 100px;
    width: 100px;
    max-width: 100%;
}

.DexTable-container-name {
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DexTable-container-type {
    height: 30px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DexTable-container-abilities {
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pokemon_ability {
    display: flex;
    flex-direction: column;
}

.pokemon_hidden_ability {
    display: flex;
    flex-direction: column;
}